<div class="opti_vendor-selection h-100 opti_position-relative opti_content-section" [perfectScrollbar]="">
  <div class="container-fluid">
    <div class="row">
        
      <div class="col-md-12">
        <h4>Goods Receipt PO</h4>
      </div>
        
      <!-- form section start   -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-body opti_bootstrap-form">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Vendor</label>
                <div class="col-sm-8 opti_field-lookup">
                  <input class="k-textbox" id="vender" name="vender" [(ngModel)]=venderCode placeholder="Please select vender"/>
                  <button (click)="openVerticallyCentered(vendorCodeName)"><svg-icon src="{{imgPath}}/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16, 'fill':'#fff'}"></svg-icon></button>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <label class="col-form-label" >{{venderName}}</label>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- form section end   -->

      <!-- grid section start -->
      <div class="opti_purchase-order-table" style="margin-top: 15px;">
        <div class="col-md-12">
            <kendo-grid 
            [kendoGridBinding]="gridData" 
            [resizable]="false" 
            [pageSize]="50" 
            [pageable]="true" 
            [sortable]="true"  
            [filterable]=isColumnFilter
            [groupable]=isColumnGroup 
            [columnMenu]="{ columnChooser: false }" 
            [selectable]="true" 
            (selectionChange)="openSalesOrderDetailOnSelectSalesOrder($event)"
            #gridItem>
                <!-- [kendoGridBinding]="gridData | customPipeItem:searchRequest"  -->
                <!-- (selectionChange)="openInqueryDetailOnSelectInquery(gridItem, $event, true, gridItem)" -->

                <!-- grid template start -->
                <ng-template kendoGridToolbarTemplate>
                    <!-- show hide column start show hide -->
                    <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                    <!-- checkbox -->
                    <form class="k-form opti_show-hide-grid-column-filter float-left">
                        <div class="k-form-field float-left">
                            <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_VendorColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                            <label class="k-checkbox-label" for="opti_VendorColumnFilterID">Enable Filter</label>
                        </div>

                        <div class="k-form-field float-left">
                            <input type="checkbox" id="opti_VendorColumnGroupID"  [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                            <label class="k-checkbox-label" for="opti_VendorColumnGroupID">Enable Grouping</label>
                        </div>
                    </form>

                    <!-- export -->
                    <!-- <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton">
                        <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                    </button> -->


                    <!-- <div class="float-right opti_right-top-sec-grid-purchase opti_right-top-sec-grid">
                        <form class="k-form opti_common-search-form float-left opti_padding-zero">
                            <label class="k-form-field opti_common-search-label">
                                <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                                <span class="opti_vertical-align opti_mouse-pointer"><img src="assets/images/common/search-black.svg" class="" alt="Search" width="15" /></span>
                            </label>
                        </form>
                    </div> -->

                </ng-template>

                <kendo-grid-column field="orderNumber" title="Purchase Order Number"  ></kendo-grid-column>
                <kendo-grid-column field="orderId" title="Delete">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex"> 
                        <svg-icon  src="{{imgPath}}/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                        {{dataItem.orderId}}
                    </ng-template>
                </kendo-grid-column>
                
                <!-- xlsx template start -->
                <!-- <kendo-grid-excel fileName="Sales-order.xlsx"></kendo-grid-excel> -->
                <!-- xlsx template end -->
            </kendo-grid>
        </div>    
      </div>
      <!-- grid section end -->

    </div>  
  </div>    
</div>

<!-- footer section start -->
<div class="opti_footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <button class="k-button k-primary" type="button">Cancel</button>
             <button class="k-button k-primary" type="button" (click)="onNextClick($event)" >Next</button>
        </div>
      </div>
    </div>    
</div>
<!-- footer section end -->


<!-- Lookup section start -->
<ng-template #vendorCodeName let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Select Vendor Code and Name</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body text-center" style="padding: 20px;">
        
        <kendo-grid 
        [kendoGridBinding]="gridData2" 
        [resizable]="false" 
        [pageSize]="50" 
        [pageable]="true" 
        [sortable]="true"  
        [filterable]=isColumnFilter
        [groupable]=isColumnGroup 
        [columnMenu]="{ columnChooser: false }" 
        [selectable]="true" 
        (selectionChange)="selectVendorCode($event)"
        #gridItem>
            
        <!-- grid template start -->
            <ng-template kendoGridToolbarTemplate>
                <!-- show hide column start show hide -->
                <kendo-grid-column-chooser class="float-left"></kendo-grid-column-chooser>

                <!-- checkbox -->
                <form class="k-form opti_show-hide-grid-column-filter float-left">
                    <div class="k-form-field float-left">
                        <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_VendorColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                        <label class="k-checkbox-label" for="opti_VendorColumnFilterID">Enable Filter</label>
                    </div>

                    <div class="k-form-field float-left">
                        <input type="checkbox" id="opti_VendorColumnGroupID"  [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                        <label class="k-checkbox-label" for="opti_VendorColumnGroupID">Enable Grouping</label>
                    </div>
                </form>

                <!-- export -->
                <!-- <button type="button" kendoGridExcelCommand icon="file-excel" class="float-left opti_grid-toolbar-excelbutton">
                    <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                </button> -->


                <!-- <div class="float-right opti_right-top-sec-grid-purchase opti_right-top-sec-grid">
                    <form class="k-form opti_common-search-form float-left opti_padding-zero">
                        <label class="k-form-field opti_common-search-label">
                            <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                            <span class="opti_vertical-align opti_mouse-pointer"><img src="assets/images/common/search-black.svg" class="" alt="Search" width="15" /></span>
                        </label>
                    </form>
                </div> -->

            </ng-template>

            <kendo-grid-column field="CARDCODE" title="Vendor Code"  ></kendo-grid-column>
            <kendo-grid-column field="CARDNAME" title="Vendor Name"></kendo-grid-column>
            
            <!-- xlsx template start -->
            <!-- <kendo-grid-excel fileName="Sales-order.xlsx"></kendo-grid-excel> -->
            <!-- xlsx template end -->
        </kendo-grid>

    </div>

    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div> -->
</ng-template>
<!-- Lookup section end -->