/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////
  // Right Content section
  .opti_content-section {
    padding-top: 15px;
    height: calc(100% - 48px) !important;
    padding-bottom: 15px;
    overflow-y: auto;
  }
  
  // For Lookup
  .opti_field-lookup{
    input{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    button{
      margin-left: 0 !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 6px;
      padding-bottom: 8px;
    }
  }

  .opti_spacetop{
    margin-top: 15px;
  }
  .opti_spacebtpm{
    margin-bottom: 15px;
  }
  .opti_spacetopnbtm{   
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  /////////////////////////////////////////////////////////////////////
  /////////////////////////////some common css end/////////////////////
  /////////////////////////////////////////////////////////////////////
  
  /////////////////////////////////////////////////////////////////////
  /////////////////////////////File drop css start/////////////////////
  /////////////////////////////////////////////////////////////////////
  
    file-drop #dropZone{
      margin: 0;
      height: auto;
      border: none;
      .content{
        height: auto;
      }
    }
  
  
  
    .drop-zone{
      width: 100%;
      kendo-grid{
        width: 100%;
      }
    }
  
  
    file-drop .drop-zone.over {
      background-color: transparent;
    }
  /////////////////////////////////////////////////////////////////////
  /////////////////////////////File drop css start/////////////////////
  /////////////////////////////////////////////////////////////////////
  
  
  /////////////////////////////////////////////////////////////////////
  //////////////////////////////////////Footer/////////////////////////
  /////////////////////////////////////////////////////////////////////
  .opti_footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #c7c7c7;
    padding-top: 10px;
    padding-bottom: 10px;
  }