@import '_typography-button-layout';
@import '_responsive';
@import '_custom-kendo';
@import '_common';
@import '_wms';


/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Account CSS///////////////////////
/////////////////////////////////////////////////////////////////////

// can not move this css in specific component and and account css becuase here we are useing css on the basis of body and if we will call  in specific component than it will not work

  // set password
  // login
  // signup

  body.opti_account-module
  {
    background-image: url('/assets/images/signup/nouse/shutter/body-bg-new-5.jpg');
    background-position: center center;
    background-size: cover;
    padding: 50px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
  }

  /////////////////////////////////////////////////////////////////////
/////////////////////////////End Account CSS/////////////////////////
/////////////////////////////////////////////////////////////////////  




/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////

app-sales-order-detail-attachment{
  kendo-grid{
    table{
      tbody{
        tr td:first-child{
          text-align: center;
          svg-icon{
            cursor: pointer;
          }  
        }
      }
    }
  }
}



/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css end/////////////////////
/////////////////////////////////////////////////////////////////////

